<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mondido_hostedwindow>
                <active>0</active>
                <model>Mondido\Mondido\Model\HostedWindow</model>
                <allowspecific>0</allowspecific>
                <title>Mondido Hosted Window</title>
            </mondido_hostedwindow>
            <mondido>
                <deactivate_quote_on_callback>1</deactivate_quote_on_callback>
            </mondido>
        </payment>
    </default>
</config>
