<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="mondido_transaction_to_order" instance="Mondido\Mondido\Observer\QuoteSubmitBeforeObserver" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="mondido_customer_save" instance="Mondido\Mondido\Observer\CustomerSaveObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="mondido_quote_submit_success" instance="Mondido\Mondido\Observer\QuoteSubmitSuccessObserver" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="mondido_add_creditmemo_to_metadata" instance="Mondido\Mondido\Observer\SalesOrderCreditmemoSaveAfterObserver" />
    </event>
</config>