<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="mondido" translate="label comment" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">

                <label><![CDATA[Mondido&nbsp;&nbsp;<i>We help you convert more visitors into paying customers.</i>]]></label>
                <comment><![CDATA[Through our conversion optimization tools that are tailored for online merchants we will help you to create the best payment experience for your clients for every platform.]]></comment>

                <attribute type="expanded">1</attribute>

                <fieldset_css>complex</fieldset_css>

                <frontend_model>Mondido\Mondido\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>

                <group id="mondido_script" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Mondido\Mondido\Block\Adminhtml\System\Config\Fieldset\Script</frontend_model>
                </group>

                <group id="mondido_hostedwindow" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" translate="label comment">
                    <label><![CDATA[Hosted Window]]></label>
                    <comment><![CDATA[Mondido’s Hosted Window solution allows you to create a payment page with the desired look-and-feel to go with the rest of the site. The Hosted Window is responsive so that it works for both mobile and iPad (you can use jQuery or Bootstrap) and if you want to A/B-test different design ideas, you can easily find out which one generates the most purchases.]]></comment>

                    <frontend_model>Mondido\Mondido\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                    <fieldset_css>mondido-method-hostedwindow</fieldset_css>

                    <attribute type="activity_path">payment/mondido/active</attribute>

                    <group id="mondido_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="5">
                        <label>Basic Settings</label>
                        <comment><![CDATA[<a href="https://www.mondido.com/en/signup" target="_blank">Click here to login to your existing Mondido account</a>. To setup a new account and accept payments on your website, <a href="https://www.mondido.com/en/" target="_blank">click here to signup for an account</a>.]]></comment>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

                        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable this Solution</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/mondido/active</config_path>
                            <requires>
                                <group id="mondido_required"/>
                            </requires>
                        </field>
                        <field id="merchant_id" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant ID</label>
                            <config_path>payment/mondido/merchant_id</config_path>
                        </field>
                        <field id="password" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>API Password</label>
                            <config_path>payment/mondido/password</config_path>
                        </field>
                        <field id="secret" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Secret</label>
                            <config_path>payment/mondido/secret</config_path>
                        </field>
                        <field id="test" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Test Mode</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/mondido/test</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Action</label>
                            <source_model>Mondido\Mondido\Model\Adminhtml\Source\PaymentAction</source_model>
                            <config_path>payment/mondido/payment_action</config_path>
                        </field>
                        <field id="deactivate_quote_on_callback" translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Deactivate quote on callback</label>
                            <config_path>payment/mondido/deactivate_quote_on_callback</config_path>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment><![CDATA[The quote will be automatically deactivated if it's still active for some reason when Mondido makes a payment callback. An active quote can't be made to an order.<br><br>The feature has a treshold of 2 minutes.]]></comment>
                        </field>
                        <field id="email" translate="label comment" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email webhook failures to</label>
                            <config_path>payment/mondido/email_webhook_failures_to</config_path>
                            <validate>validate-email</validate>
                            <comment><![CDATA[Emails will be sent if <strong>a)</strong> quote is inactive when Mondido tries to create the order in Magento, <strong>b)</strong> if the amount differs or <strong>c)</strong> if an exception is thrown when Magento tries to create the order.<br><br>The Customer Support email from Store Email Addresses configuration will be used a sender of the emails.<br><br>The feature has a treshold of 5 minutes.]]></comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
